.container-fluid a {
    color:black;
    text-decoration: none;
}

.topnav {
    justify-content: space-around;
    width: 100%;
}

.navbarcontainer {
    max-width:90%;
}

.topnavbutton {
    margin-right:1.5em;
}

.bodycontainer{
    max-width: 85%;
}

.buttons{
    border-radius: 10px;
}

.signup {
    margin: 1em 2em 1em 0;
    padding: 1em;
}

.card {
    border:0px;
}

.line {
    border-bottom: 3px solid black;
    margin: 6em 15% 0 15%;
}

.image_icon {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.dollarsign {
    background-color: white;
    padding: 0.4em;
    border-radius: 1.7em;
    width:1.7em;
    height:1.7em;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin-bottom:3em;
}

.startcontainer {
    width:70%;
    margin-right:auto;
    margin-left:auto;
}

.startbody {
    background-color: #0d6efd; 
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    padding: 5em 5em 5em 3em;
    color:white;
}

.startbody p {
    margin: 1em 0 1em 0;
}

.startbody h1 {
    margin-bottom: 1em;
    margin-top: 1em;
}

.startbody h5 {
    margin-bottom:2em;
}

.learnmore {
    border:2px solid white;
    margin-top:2em;
    padding: 0.5em 1em 0.5em 3em;
}

.learnmore2 {
    border:2px solid black;
    margin-top:1em;
    padding: 0.5em 1em 0.5em 3em;
}

.guy {
    position:relative;
    top:30%;
    left:15%;
    max-width:100%;
    height:auto;
    padding-right:6em;
}

.icons2 {
    width:30em;
    height:30em;
    margin: 1em;
}

.actualicon{
    color:#0d6efd;
    font-size:600%;
    background-color: rgba(194, 240, 255, 0.582);
    padding: 0.5em;
    border-radius: 3em;
    width:2.2em;
    height:2.2em;
    position:relative;
    left:30%;
    
}

.icons2 h2 {
    margin: 1em 0 1em 0;
}

.getstarted {
    background-color: rgba(31, 226, 31, 0.726);
    color:white;
    margin:0 3em 2em 0.5em;
    font-size:130%;
    padding-left:3em;

}

.chatwithus {
    color:#0d6efd;
    background-color: white;
    margin:0 0.5em 2em 0.5em;
    font-size:130%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.footer {
    border:1px solid black;
    background-color: #0d6efd;
    width:100%;
    text-align: center;
    color:white;
    padding: 3.5em 0em 0em 0em;
    margin: 6em 0em 0em 0em;
}

.footer h1 {
    margin-bottom: 0.7em;
}

.footer h4 {
    margin-bottom: 1em;
}

.footer p {
    margin-bottom:10em;
}