* {
    margin: 0;
}


.user-input{
    padding-left: 40px;
    padding-top: 20px;
    position:absolute;
    width: 450px;
    border: 1px solid lightgray;
}

.user-png {
    position: relative;
    left: -260px;
    top: 15px;
    bottom: 0px;
}

.login-input{
    padding-left: 40px;
    padding-top: 20px;
    position:absolute;
    width: 450px;
    border: 1px solid lightgray;
}

.email-png {
    position: relative;
    left: -260px;
    top: 15px;
    bottom: 0px;
}

.lock-input{
    padding-left: 40px;
    padding-top: 20px;
    position:absolute;
    width: 450px;
    border: 1px solid lightgray;
}
.lock-png {
    position: relative;
    left: -260px;
    top: 15px;
    bottom: 0px;
}

.social-png {
    text-align: center;

}
.facebook-input {
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 20px;
}
.twitter-input {
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 20px;

}
.google-input {
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 50px; 
    width: 50px;
    padding: 10px;
    margin: 20px;
}
.linkedin-input {
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 50px; 
    width: 50px;
    padding: 5px;
    margin: 20px;
}